/* footer start */

.footer {
    margin-bottom: 20px;
    margin-top: 55px;
}
.branding {
    margin-top:20px;
    margin-bottom: 20px;
}

.logo {
    margin-top:-17px;
}

.footer img {
    height: 50px;
    margin-left: 10px;
    float: right;
}

.footer a {
    font-size: 13px;
    martin-top -10px;
    color: #777;
    float: right;
}
/* footer end */



/* video start */
.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 57.25%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vid-container {
    margin-bottom: 30px;
}
/* video end */


.right {
    text-align: right;
}

.left {
    text-align: left;
}

p {
    color: #555;
    font: 300 20px/1.3 "lato";
    margin-bottom: 20px;
}

p.header-text {
    color: #444;
    margin-left: -5px;
}

p.sub-desc {
    margin-top: 3px;
    margin-bottom:30px;
}

.section-heading {
    color: #3db5ff;
    font-family: 'lato';
    font-size: 36px;
    font-weight: 400;
    margin-left: -2px;
}

.striped-row {
    /*background: #f7f7f7;*/
    background-image: url("/img/crossword.png");
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 0 5px 0;
    margin-bottom: 80px;
}

.pattern-container {
    background-color: #fff;
    padding: 18px;
    margin-bottom: 30px;
    border: 1px #ccc solid;
    border-radius: 4px/2px;
    -webkit-transition: 300ms ease-in-out; -moz-transition: 300ms ease-in-out; -o-transition: 300ms ease-in-out; transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.pattern-container:hover {
    border-color: #2cafff
}

.pattern-container:hover img {
    -webkit-transform: scale(1.04);
}

.pattern-container:hover .pattern-text{
    border-color: #2cafff;
}

.patterns {
    margin-top: 30px;
}

.patterns a:hover {
    text-decoration: none;
}

.pattern-title {
    margin-bottom: 10px;
}

.pattern-container img{
    max-width: 90%;
    display:block;
    margin:auto;
    -webkit-transition: 100ms ease-in-out; -moz-transition: 100ms ease-in-out; -o-transition: 100ms ease-in-out; transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
}

.pattern-container p{
    margin-top: 25px;
    color: #333;
    text-align: center;
}

.pattern-text {
    border-top: 1px solid #888;
    margin-top: 55px;
    margin-bottom: -5px;
    -webkit-transition: 300ms ease-in-out; -moz-transition: 300ms ease-in-out; -o-transition: 300ms ease-in-out; transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.pattern-text .pattern-title {
    font-size: 17px;
    margin-top: 6px;
}

.pattern-text .pattern-link {
    font-size: 20px;
    color: #2cafff;
    margin-top: 0px;
}

@media (max-width:399px) {
    .header-row{
        margin-top: 40px;
        margin-bottom: 160px;
    }
    p.header-text {
        font: 400 60px/1 "lato";
    }
    .pattern-container {
        height: 340px;
    }
}

@media (min-width:400px) {
    .header-row{
        margin-top: 40px;
        margin-bottom: 120px;
    }
    p.header-text {
        font: 400 60px/1 "lato";
    }
    .pattern-container {
        height: 300px;
    }
}

@media (min-width:460px) {
    .pattern-container {
        height: 350px;
    }
}

@media (min-width:550px) {
    .pattern-container {
        height: 400px;
    }
}


@media (min-width:768px) {
    .header-row{
        margin-top: 110px;
        margin-bottom: 150px;
    }

    p.header-text {
        font: 400 64px/1 "lato";
    }
    .header-row img {
        margin-top: 0px;
    }

    .pattern-container {
        height: 340px;
    }
}

@media (min-width:992px) {
    p.header-text {
        font: 400 82px/1 "lato";
    }
    .header-row{
        margin-top: 200px;
        margin-bottom: 190px;
    }
    .header-row img {
        margin-top: -60px;
    }

    .pattern-container {
        height: 335px;
    }
}

@media (min-width:1200px) {
    p.header-text {
        font: 400 82px/1 "lato";
    }

    .header-row img {
        margin-top: -60px;
    }

    .header-row{
        margin-top: 270px;
        margin-bottom: 270px;
    }

    .pattern-container {
        height: 285px;
    }

}
